.skills-bg-con{
    height: 30vh;
    width: 100%;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.percentage-row{
    height: 3px;
    width:300px;
    background-color: rgb(154, 154, 154);
    border-radius: 2px;
}
.skills-desplay-con{
    margin-top: 40px;
}
.con{
    margin-bottom: 30px;

}
.skill-p{
    text-align: left;
    margin-bottom: 10px;
    color: rgb(214, 213, 213);
    font-size: 13px;
}
.dot{
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: rgb(255, 132, 0);
    position: relative;
    bottom: 6px;
}
h6{
    font-size: 18px;
    color: rgb(202, 202, 202);
    margin-bottom: 10px;
    color:rgb(255, 132, 0);
}

.skill-name{
    font-size: 15px;
    color: rgb(163, 163, 163);

}
.individual-skills-con{
    width: 100%;
    padding-left: 50px;
}