.side-bar-bg-con{
    height: 120vh;
    width: 30vw;
    background-color: rgb(46, 46, 46);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5%;
}
.profile-img-con{
    height: 26%;
    width: 50%;
    border-radius: 50%;
    border: 8px solid rgb(255, 123, 0);
}
.profile-img{
    height:100%;
    width: 100%;
    border-radius: 50%;
}